{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="genres">Website Link</label>
        {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="genres">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="genres" >Seeking a talent?</label>
          {{ form.seeking_a_talent }}
        </div>
        <div class="form-group" >
          <label for="genres" id="seeking_a_talent_text_label">Seeking a talent description </label>
          {{ form.seeking_a_talent_text(class_ = 'form-control', autofocus = true) }}
        </div>
      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
</div>
<script>

  $("#seeking_a_talent").change(function() {
    if (document.getElementById('seeking_a_talent').checked == true) {      
      document.getElementById('seeking_a_talent_text').style.display = 'block';
      document.getElementById('seeking_a_talent_text_label').style.display = 'block';
    }
    else {
      document.getElementById('seeking_a_talent_text').style.display = 'none';
      document.getElementById('seeking_a_talent_text_label').style.display = 'none';
    }

});


if (document.getElementById('seeking_a_talent').checked == true) {
      document.getElementById('seeking_a_talent_text').style.display = 'block';
      document.getElementById('seeking_a_talent_text_label').style.display = 'block';
    }
    else {
      document.getElementById('seeking_a_talent_text').style.display = 'none';
      document.getElementById('seeking_a_talent_text_label').style.display = 'none';
    }
</script>
{% endblock %}